@use "../design-system/utils";
@use "../design-system/colors";
@use "../design-system/typography/styles";
@use "../design-system/typography/weights";
@use "../design-system/theme/light";
@use "../design-system/theme/dark";
@use "../design-system/shadows";

.error.page.hero {
  padding-top: 56px;
  padding-bottom: 96px;

  .no.entry.icon {
    padding-top: 60px;
    padding-bottom: 60px;

    &>i {
      justify-content: center;
    }
  }

  .content {
    margin-top: 64px;

    p.title {
      @include styles.text-md;
      @include weights.semibold;
      color: colors.$primary-700;
    }

    h1 {
      margin-top: 12px;
      @include styles.display-xl;
      @include weights.semibold;
    }

    p.info {
      margin-top: 12px;

      @include styles.text-lg;
      @include weights.regular;
      color: colors.$gray-600;
    }
  }
}

.dark .error.page.hero {
  .content {
    p.title {
      color: colors.$primary-300;
    }

    p.info {
      color: colors.$gray-25;
    }
  }
}